*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to top,rgb(15, 10, 10),rgb(169, 4, 4));
}
h1{
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 3rem;
}
h2{
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 3%;
}
h4{
    color: azure;
}
.logo{
    padding: 10px;
    width: 50px;
    border-radius: 20px;
}
.inicio{
    background-image: url(../img/throne\ room.jpg);
    color: rgb(255, 255, 255);
}
ul{
    list-style-type: none;
}
li{
    margin: 10pxS;
    display: inline-block;
}
a{
    color: rgb(231, 219, 219);
    font-size: 1.8rem;
    margin: 60px;
    
}
.m-li{
    width: 200px;
    transition: all 0.5s;
    margin: 1rem;
    text-align: center;
}
.m-li:hover{
    transform: scale(1.4,1.4);
    transition: all 0.5s;
}

.menu{
    display: grid;
    grid-row: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.fila{
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;
}
.g-libro{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.libro img{
    max-width: 50%;
    height: 50%;
    border-radius: 8px;
    padding: 5%;
    padding-left: 30%;
}

.libro p{
    color: aliceblue;
    padding: 5%;
    text-align: justify;

}
.libro h4{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.biblio{
    text-align: center;
}
.g-personajes{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.personaje img{
    max-width: 50%;
    height: 50%;
    border-radius: 8px;
    padding: 3%;
    float: left;
    
    
}
.personaje p{
    margin-top: 8px;
    color: aliceblue;
    

}
.personaje h4{
    padding: 10px;
    padding-left: 80px;
    font-size: 1.7rem;
    font-weight: bold;
}
.g-casas{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.casa img{
    max-width: 50%;
    height: 50%;
    border-radius: 8px;
    padding: 5%;
    padding-left: 30%;
    
}
.casa p{
    color: aliceblue;
    padding: 5%;
    text-align: justify;

}
.casa h4{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}





/*para telefono*/

@media screen and (max-width: 480px) {
}