* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, rgb(15, 10, 10), rgb(169, 4, 4));
  font-family: "Charm", cursive;
}

header h1 {
  color: aliceblue;
  padding: 50px;
  text-align: center;
  font-size: 4rem;
  font-family: "Quintessential", serif;
}
header .navbar .color {
  background-color: rgb(138, 5, 5);
}
header .navbar .color .logo {
  padding: 10px;
  height: 120px;
  width: 120px;
  border-radius: 20px;
}
header .navbar .color .menu .navbar-nav .m-li {
  width: 200px;
  transition: all 0.5s;
  margin: 1rem;
  text-align: center;
}
header .navbar .color .menu .navbar-nav .m-li:hover {
  transform: scale(1.4, 1.4);
  transition: all 0.5s;
}
header .navbar .color .menu .navbar-nav .m-li a {
  color: rgb(231, 219, 219);
  font-size: 1.8rem;
  margin: 60px;
  font-family: "Quintessential", serif;
}

main section h2 {
  color: aliceblue;
  padding: 10px;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 3%;
  font-family: "Quintessential", serif;
}
main section .sinopsis {
  color: aliceblue;
  padding: 3%;
  padding-top: 1%;
  font-size: 1.5rem;
}

main .g-libro {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
main .g-libro .libro img {
  max-width: 100%;
  height: 400px;
  border-radius: 8px;
  padding: 5%;
  padding-left: 30%;
  transform: translatex(-30px);
}
main .g-libro .libro h4 {
  color: aliceblue;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
main .g-libro .libro p {
  color: aliceblue;
  padding: 5%;
  text-align: justify;
  font-size: 1.2rem;
}

@media screen and (max-width: 1500px) {
  main .g-libro {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  main .g-libro .libro p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  main .g-libro {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  main .g-libro .libro p {
    font-size: 1rem;
  }
}
main .g-casas {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
main .g-casas .casa img {
  max-width: 75%;
  height: auto;
  border-radius: 8px;
  padding: 10%;
  padding-left: 30%;
}
main .g-casas .casa h4 {
  color: aliceblue;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
main .g-casas .casa p {
  color: aliceblue;
  padding: 2%;
  text-align: justify;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  main .g-casas {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  main .g-casas .casa img {
    max-width: 100%;
    transform: translatex(-40px);
  }
  main .g-casas .casa p {
    padding: 5%;
  }
}
main .biblio {
  text-align: center;
  color: aliceblue;
}
main .biblio h4{
  font-size: 3.5rem;
  padding: 3%;
}
main .biblio p{
  font-size: 2rem;
  text-align: justify;
  padding: 3%;
}
main .biblio img{
  max-width: auto;
  height: 400px;
}

main .g-personajes {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
main .g-personajes .personaje img {
  max-width: 60%;
  height: 60%;
  border-radius: 8px;
  padding: 3%;
  float: left;
}
main .g-personajes .personaje h4 {
  color: aliceblue;
  padding: 10px;
  padding-left: 80px;
  font-size: 1.7rem;
  font-weight: bold;
}
main .g-personajes .personaje p {
  margin-top: 8px;
  color: aliceblue;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.3rem;
}

@media screen and (max-width: 1500px) {
  main .g-personajes {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  main .g-personajes .personaje p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 710px) {
  main .g-personajes {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
hr {
  color: aliceblue;
}

footer .mail {
  padding-left: 10px;
  font-family: "Quintessential", serif;
  color: azure;
}

/*# sourceMappingURL=estilo.css.map */
