main{
    section{
     h2{
         color: aliceblue;
         padding: 10px;
         text-align: center;
         font-size: 3rem;
         padding-bottom: 3%;
         font-family: "Quintessential", serif;
     }
     .sinopsis{
         color: aliceblue;
         padding: 3%;
         padding-top: 1%;
         font-size: 1.5rem;
     }
    } 
 }